<div class="spinner-border" *ngIf="tableIsLoading"><span class="sr-only" i18n="@@loading">Loading...</span></div>
<div *ngIf="!tableIsLoading">
    <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="dateTime"
            ><th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let info">{{ info.dateTime | date : 'd/M, H:mm' }}</td></ng-container
        ><ng-container matColumnDef="temperature"
            ><th mat-header-cell *matHeaderCellDef mat-sort-header>Temperature</th>
            <td mat-cell *matCellDef="let info">{{ info.temperature | temperature }}</td></ng-container
        ><ng-container matColumnDef="externalTemperature"
            ><th mat-header-cell *matHeaderCellDef mat-sort-header>External Temperature</th>
            <td mat-cell *matCellDef="let info">{{ info.externalTemperature | temperature }}</td></ng-container
        ><ng-container matColumnDef="humidity"
            ><th mat-header-cell *matHeaderCellDef mat-sort-header>Humidity</th>
            <td mat-cell *matCellDef="let info">{{ info.humidity | humidity }}</td></ng-container
        ><ng-container matColumnDef="externalHumidity"
            ><th mat-header-cell *matHeaderCellDef mat-sort-header>External Humidity</th>
            <td mat-cell *matCellDef="let info">{{ info.externalHumidity | humidity }}</td></ng-container
        >
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
</div>
