<div class="hermanas-toast-container">
    @for (toast of toasts; track toast) {
        <div [class]="'hermanas-toast ' + getToastClass(toast.type)" [@toastAnimation]>
            <div class="hermanas-toast-header">
                <fa-icon
                    [icon]="['fas', getIconClass(toast.type)]"
                    class="hermanas-toast-icon"
                ></fa-icon>
                <strong class="hermanas-toast-title">{{
                    toast.title || toast.type | titlecase
                }}</strong>
                <button
                    type="button"
                    class="hermanas-toast-close"
                    (click)="removeToast(toast.id)"
                    i18n-aria-label="@@close"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="hermanas-toast-body">
                {{ toast.message }}
                @if (toast.action) {
                    <a
                        href="#"
                        class="hermanas-toast-action"
                        (click)="onActionClick($event, toast)"
                    >
                        {{ toast.action.label }}
                    </a>
                }
            </div>
        </div>
    }
</div>
