<sb-layout-dashboard
    ><sb-dashboard-head title="Notification" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@notificationInfo">This board allows you to configure the notification parameters.</span></div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "envelope-open-text"]'></fa-icon>Notification parameters</div>
        <div class="card-body">
            List of emails notified by door closing and opening :
            <br />
            jb.renaux&#64;me.com
        </div></sb-card
    ></sb-layout-dashboard
>
