<sb-layout-dashboard
    ><sb-dashboard-head title="Logs" i18n-title="@@logs" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@logsInfo">This board allows you to browse through the history of the log file.</span></div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "file-contract"]'></fa-icon>Log browser</div>
        <div class="card-body">List of file : spring.log</div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "file-contract"]'></fa-icon>Log content</div>
        <div class="card-body">...</div></sb-card
    ></sb-layout-dashboard
>
