<sb-layout-dashboard
    ><sb-dashboard-head title="Camera" i18n-title="@@camera" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@cameraInfo">This board allows you to browse through the history of the pictures.</span></div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "camera"]'></fa-icon>Pictures browser</div>
        <div class="card-body">Subfolders of pictures folder</div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "camera"]'></fa-icon>Pictures viewer</div>
        <div class="card-body">Selected picture</div></sb-card
    ></sb-layout-dashboard
>
