<li class="nav-item dropdown dropdown-user no-caret" *ngIf="_userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
    <a class="nav-link" id="userDropdown" *ngIf="user.authState === 'signedin'" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]='["fas", "ellipsis-v"]'></fa-icon></a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <span
            ><a class="dropdown-item" *ngIf='doorStatus !== undefined &amp;&amp; doorStatus !== "OPENED"' (click)="openDoor()" routerLink="/dashboard"><span i18n="@@openDoor">Open door</span></a></span
        ><span
            ><a class="dropdown-item" *ngIf='doorStatus !== undefined &amp;&amp; doorStatus !== "CLOSED"' (click)="closeDoor()" routerLink="/dashboard"><span i18n="@@closeDoor">Close door</span></a></span
        >
    </div>
</li>
