@if (_userService.user$ | async; as user) {
    <li
        class="nav-item dropdown dropdown-user no-caret"
        ngbDropdown
        placement="bottom-right"
        display="dynamic"
    >
        @if (user.authState === 'signedIn') {
            <a
                class="nav-link"
                id="userDropdown"
                ngbDropdownToggle
                data-cy="userMenu"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon
            ></a>
        }
        <div
            class="dropdown-menu dropdown-menu-right"
            ngbDropdownMenu
            aria-labelledby="dropdownUser"
        >
            <span>
                @if (doorStatus !== undefined && doorStatus !== 'OPENED') {
                    <a class="dropdown-item" (click)="openDoor()" routerLink="/dashboard"
                        ><span i18n="@@openDoor">Open door</span></a
                    >
                }</span
            ><span>
                @if (doorStatus !== undefined && doorStatus !== 'CLOSED') {
                    <a class="dropdown-item" (click)="closeDoor()" routerLink="/dashboard"
                        ><span i18n="@@closeDoor">Close door</span></a
                    >
                }
            </span>
        </div>
    </li>
}
