<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <ng-container
                ><div class="sb-sidenav-menu-heading">Menu</div>
                <ng-container
                    ><a class="nav-link" routerLink="/dashboard"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "tachometer-alt"]'></fa-icon></div>
                        <span i18n="@@dashboard">Dashboard</span></a
                    ><a class="nav-link" routerLink="/weather"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "sun"]'></fa-icon></div>
                        <span i18n="@@weatherMenu">Weather</span></a
                    ><a class="nav-link" routerLink="/camera"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "camera"]'></fa-icon></div>
                        <span i18n="@@webcamMenu">Webcam</span></a
                    ><a class="nav-link" routerLink="/logs"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "file-contract"]'></fa-icon></div>
                        <span i18n="@@logsMenu">Logs</span></a
                    ></ng-container
                >
                <div class="sb-sidenav-menu-heading">Config</div>
                <ng-container
                    ><a class="nav-link" routerLink="/energy"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "car-battery"]'></fa-icon></div>
                        <span i18n="@@energySavingMenu">Energy saving</span></a
                    ><a class="nav-link" routerLink="/notification"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "envelope-open-text"]'></fa-icon></div>
                        <span i18n="@@notificationMenu">Notification</span></a
                    ><a class="nav-link" routerLink="/music"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "music"]'></fa-icon></div>
                        <span i18n="@@playlistMenu">Music playlist</span></a
                    ><a class="nav-link" routerLink="/system"
                        ><div class="sb-nav-link-icon"><fa-icon [icon]='["fas", "laptop"]'></fa-icon></div>
                        <span i18n="@@systemMenu">System</span></a
                    ></ng-container
                ></ng-container
            >
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small" i18n="@@logged_in_as">Logged in as:</div>
        <span *ngIf="userService.user$ | async as user"><span *ngIf="user.login === 'guest'" i18n="@@guest">Guest</span><span *ngIf="user.login !== 'guest'">{{user.login}}</span></span>
    </div>
</nav>
