<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <ng-container
                ><div class="sb-sidenav-menu-heading">Menu</div>
                <ng-container
                    ><a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>
                        </div>
                        <span i18n="@@dashboard">Dashboard</span></a
                    >
                    @if (isSignedIn()) {
                        <a class="nav-link" routerLink="/camera" routerLinkActive="active"
                            ><div class="sb-nav-link-icon">
                                <fa-icon [icon]="['fas', 'camera']"></fa-icon>
                            </div>
                            <span i18n="@@webcamMenu">Webcam</span></a
                        >
                    }
                    <a class="nav-link" routerLink="/music" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'music']"></fa-icon>
                        </div>
                        <span i18n="@@playlistMenu">Music playlist</span></a
                    ><a class="nav-link" routerLink="/weather" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'sun']"></fa-icon>
                        </div>
                        <span i18n="@@weatherMenu">Weather</span></a
                    ><a class="nav-link" routerLink="/residents" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'feather']"></fa-icon>
                        </div>
                        <span i18n="@@residentsMenu">Pensionnaires</span></a
                    >
                </ng-container>
                <ng-container>
                    @if (isAdmin()) {
                        <a class="nav-link" routerLink="/energy" routerLinkActive="active"
                            ><div class="sb-nav-link-icon">
                                <fa-icon [icon]="['fas', 'car-battery']"></fa-icon>
                            </div>
                            <span i18n="@@energySavingMenu">Energy saving</span></a
                        >
                    }
                    @if (isSignedIn()) {
                        <a class="nav-link" routerLink="/notification" routerLinkActive="active"
                            ><div class="sb-nav-link-icon">
                                <fa-icon [icon]="['fas', 'users']"></fa-icon>
                            </div>
                            <span i18n="@@usersMenu">Users</span></a
                        >
                    }
                    <a class="nav-link" routerLink="/logs" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'file-contract']"></fa-icon>
                        </div>
                        <span i18n="@@journalMenu">Journalisation</span></a
                    ><a class="nav-link" routerLink="/system" routerLinkActive="active"
                        ><div class="sb-nav-link-icon">
                            <fa-icon [icon]="['fas', 'laptop']"></fa-icon>
                        </div>
                        <span i18n="@@systemMenu">System</span></a
                    ></ng-container
                ></ng-container
            >
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small" i18n="@@logged_in_as">Logged in as:</div>
        <span>
            @if (currentLogin() === 'guest') {
                <span i18n="@@guest">Guest</span>
            }
            @if (currentLogin() !== 'guest') {
                <span>{{ currentLogin() }}</span>
            }
        </span>
    </div>
</nav>
