<div class="col-xl-6 order-xl-1">
        <sb-card>
            <div class="card-header">
                <fa-icon class="me-1" [icon]="['fas', 'door-open']"></fa-icon>
                <span i18n="@@door">Door</span>
                <div class="float-end">
                    <sb-dashboard-door-action [doorStatus]="doorStatus"></sb-dashboard-door-action>
                </div>
            </div>
            <div class="card-body">
                @if (isLoading) {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden" i18n="@@loading">Loading...</span>
                    </div>
                }
                @if (doorStatus !== undefined || hasError) {
                    <div>
                        <span i18n="@@state">State</span>{{ ' ' }}:{{ ' ' }}
                        @if (isDoorStatus('OPENED')) {
                            <span i18n="@@stateOpened">Opened</span>
                        }
                        @if (isDoorStatus('OPENING')) {
                            <span i18n="@@stateOpening">Opening ...</span>
                        }
                        @if (isDoorStatus('CLOSING')) {
                            <span i18n="@@stateClosing">Closing ...</span>
                        }
                        @if (isDoorStatus('CLOSED')) {
                            <span i18n="@@stateClosed">Closed</span>
                        }
                        @if (isDoorStatus('SEEMS_OPENED')) {
                            <span i18n="@@stateSeemsOpened">Seems opened</span>
                        }
                        @if (isDoorStatus('SEEMS_CLOSED')) {
                            <span i18n="@@stateSeemsClosed">Seems closed</span>
                        }
                        @if (isDoorStatus('OPENED_INCORRECTLY')) {
                            <span i18n="@@stateOpenedIncorrectly">Opened incorrectly</span>
                        }
                        @if (isDoorStatus('CLOSED_INCORRECTLY')) {
                            <span i18n="@@stateClosedIncorrectly">Closed incorrectly</span>
                        }
                        @if (hasError) {
                            <span i18n="@@informationNotAvailable">Information not available</span>
                        }
                    </div>
                }
                @if (nextOpeningTime !== undefined || nextEventsOnError === true) {
                    <div>
                        <span i18n="@@nextOpeningTime">Next opening time</span>{{ ' ' }}:{{ ' ' }}
                        @if (nextOpeningTime !== undefined) {
                            <span>{{ nextOpeningTime }}</span>
                        }
                        @if (nextEventsOnError === true) {
                            <span i18n="@@informationNotAvailable">Information not available</span>
                        }
                    </div>
                }
                @if (nextClosingTime !== undefined || nextEventsOnError === true) {
                    <div>
                        <span i18n="@@nextClosingTime">Next closing time</span>{{ ' ' }}:{{ ' ' }}
                        @if (nextClosingTime !== undefined) {
                            <span>{{ nextClosingTime }}</span>
                        }
                        @if (nextEventsOnError === true) {
                            <span i18n="@@informationNotAvailable">Information not available</span>
                        }
                    </div>
                }
            </div>
        </sb-card>
    </div>
<div class="col-xl-6 order-xl-4">
        <sb-card>
            <div class="card-header">
                <fa-icon class="me-1" [icon]="['fas', 'camera']"></fa-icon>
                <span i18n="@@webcam">Webcam</span>
                <div class="float-end">
                    <sb-dashboard-webcam-action
                        (refreshWebcamEvent)="refreshPicture()"
                    ></sb-dashboard-webcam-action>
                </div>
            </div>
            <div class="card-body">
                @if (isPictureLoading) {
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">
                            <span i18n="@@loading">Loading...</span>
                        </span>
                    </div>
                }
                <img
                    class="{{ pictureInitialised === false ? 'hidden' : 'not_hidden' }}"
                    [src]="picturePath"
                    (load)="pictureIsInitialised()"
                    (error)="pictureIsNotInitialised()"
                    alt="chicken coop picture"
                    i18n-alt="@@chicken coop picture"
                />
                @if (pictureNotInitialised === true) {
                    <span i18n="@@informationNotAvailable"> Information not available</span>
                }
            </div>
        </sb-card>
    </div>
