<sb-layout-dashboard
    ><sb-dashboard-head title="Music" i18n-title="@@music" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@musicInfo">This board allows you to configure the music parameters.</span></div></sb-card
    >
    <div class="row">
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "music"]'></fa-icon>Playlist selection</div>
                <div class="card-body">
                    Selected playlist : Classic <br />
                    Validate
                </div></sb-card
            >
        </div>
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "music"]'></fa-icon>Playlist content</div>
                <div class="card-body">
                    Tchakovski <br />
                    Chopin <br /></div
            ></sb-card>
        </div></div
></sb-layout-dashboard>
