<sb-card
    ><div class="card-header">
        <fa-icon class="mr-1" [icon]="['fas', 'fan']"></fa-icon
        ><span i18n="@@accessories">Accessories</span>
        <div class="float-end">
            <sb-dashboard-accessories-action
                [lightStatus]="lightStatus"
                [fanStatus]="fanStatus"
                [musicStatus]="musicStatus"
            ></sb-dashboard-accessories-action>
        </div>
    </div>
    <div class="card-body">
        @if (
            (musicStatus === undefined && musicStatusOnError === false) ||
            (lightStatus === undefined && lightStatusOnError === false) ||
            (fanStatus === undefined && fanStatusOnError === false)
        ) {
            <div class="spinner-border" role="status">
                <span class="visually-hidden" i18n="@@loading">Loading...</span>
            </div>
        }
        @if (lightStatus !== undefined || lightStatusOnError === true) {
            <div>
                <span i18n="@@light">Light</span>{{ ' ' }}:{{ ' ' }}
                @if (lightStatus === true) {
                    <span i18n="@@on"> On</span>
                }
                @if (lightStatus === false) {
                    <span i18n="@@off"> Off</span>
                }
                @if (lightStatusOnError === true) {
                    <span i18n="@@informationNotAvailable"> Information not available</span>
                }
            </div>
        }
        @if (musicStatus !== undefined || musicStatusOnError === true) {
            <div>
                <span i18n="@@music">Music</span>{{ ' ' }}:{{ ' ' }}
                @if (musicStatus === true) {
                    <span i18n="@@on"> On</span>
                }
                @if (musicStatus === false) {
                    <span i18n="@@off"> Off</span>
                }
                @if (musicStatusOnError === true) {
                    <span i18n="@@informationNotAvailable"> Information not available</span>
                }
            </div>
        }
        @if (fanStatus !== undefined || fanStatusOnError === true) {
            <div>
                <span i18n="@@fan">Fan</span>{{ ' ' }}:{{ ' ' }}
                @if (fanStatus === true) {
                    <span i18n="@@on"> On</span>
                }
                @if (fanStatus === false) {
                    <span i18n="@@off"> Off</span>
                }
                @if (fanStatusOnError === true) {
                    <span i18n="@@informationNotAvailable"> Information not available</span>
                }
            </div>
        }
    </div></sb-card
>
