<sb-card
    ><div class="card-header">
        <fa-icon class="mr-1" [icon]="['fas', 'sun']"></fa-icon
        ><span i18n="@@weather">Weather</span>
        <div class="float-end"><sb-dashboard-weather-action></sb-dashboard-weather-action></div>
    </div>
    <div class="card-body">
        @if (temperature === undefined && meteoOnError === false) {
            <div class="spinner-border" role="status">
                <span class="sr-only" i18n="@@loading">Loading...</span>
            </div>
        }
        @if (temperature !== undefined || meteoOnError === true) {
            <div>
                <span i18n="@@temperature">Temperature</span>{{ ' ' }}:{{ ' ' }}
                @if (temperature !== undefined) {
                    <span i18n="temperature in the chichen cooop@@weatherTemp"
                        >{{ temperature }}° ({{ temperatureExternal }}° exterior)</span
                    >
                }
                @if (meteoOnError === true) {
                    <span
                        i18n="temperature in the chichen cooop unavailable@@informationNotAvailable"
                        >Information not available</span
                    >
                }
            </div>
        }
        @if (humidity !== undefined || meteoOnError === true) {
            <div>
                <span i18n="@@humidity">Humidity</span>{{ ' ' }}:{{ ' ' }}
                @if (humidity !== undefined) {
                    <span i18n="humidity: humidity in the chicken coop@@weatherHumidity">
                        {{ humidity }}% ({{ humidityExternal }}% exterior)</span
                    >
                }
                @if (meteoOnError === true) {
                    <span
                        i18n="
                            humidity: humidity in the chicken coop
                            unavailable@@informationNotAvailable"
                    >
                        Information not available</span
                    >
                }
            </div>
        }
    </div></sb-card
>
