<sb-layout-dashboard>
    <sb-dashboard-head
        title="Weather"
        i18n-title="@@weather"
        [hideBreadcrumbs]="true"
    ></sb-dashboard-head>
    <sb-common-cards
        [notificationEvents]="notificationSubject.asObservable()"
        (serviceRetry)="onServiceRetry($event)"
    ></sb-common-cards>

    <sb-card>
        <div class="card-body">
            <span i18n="@@weatherInfo"
                >This board is displaying the weather fetched from a temperature and humidity probe
                inside the chicken coop.</span
            >
        </div>
    </sb-card>

    <sb-card>
        <div class="card-header">
            <fa-icon class="me-1" [icon]="['fas', 'chart-area']"></fa-icon>
            <span i18n="@@weatherMonthlyTrend">Tendance sur 30 jours (moyennes journalières)</span>
        </div>
        <div class="card-body">
            <hermanas-monthly-trend-chart></hermanas-monthly-trend-chart>
        </div>
    </sb-card>

    <sb-card>
        <div class="card-header">
            <fa-icon class="me-1" [icon]="['fas', 'table']"></fa-icon>
            <span i18n="@@weatherLastWeek">Last week</span>
        </div>
        <div class="card-body">
            <hermanas-weather-table-area
                [retryLauncherEvents]="retrySubject.asObservable()"
                (serviceCommunicationError)="onServiceCommunicationError($event)"
            ></hermanas-weather-table-area>
        </div>
    </sb-card>
</sb-layout-dashboard>
