@if (userService.user$ | async; as user) {
    <li
        class="nav-item dropdown dropdown-user no-caret"
        ngbDropdown
        placement="bottom-right"
        display="dynamic"
    >
        <a
            class="nav-link dropdown-toggle"
            id="userDropdown"
            ngbDropdownToggle
            data-cy="userMenu"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><fa-icon [icon]="['fas', 'user']"></fa-icon
        ></a>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu aria-labelledby="dropdownUser">
            <h6 class="dropdown-header">
                <div class="dropdown-user-details">
                    @if (user.authState === 'signedIn') {
                        <div class="dropdown-user-details-name">
                            {{ user.login }}
                        </div>
                    }
                    @if (user.authState !== 'signedIn') {
                        <div class="dropdown-user-details-name" i18n="@@guest">Guest</div>
                    }
                </div>
            </h6>
            <div class="dropdown-divider"></div>
            @if (user.authState !== 'signedIn') {
                <a class="dropdown-item" routerLink="/auth/login"
                    ><span i18n="@@signin">Connexion</span></a
                >
            }
            @if (user.authState === 'signedIn') {
                <button
                    class="dropdown-item"
                    type="button"
                    (click)="logout()"
                    data-cy="logoutButton"
                >
                    <span i18n="@@signout">Déconnexion</span>
                </button>
            }
        </div>
    </li>
}
