<li class="nav-item dropdown dropdown-user no-caret" *ngIf="userService.user$ | async as user" ngbDropdown placement="bottom-right" display="dynamic">
    <a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle data-cy="userMenu" role="button" aria-haspopup="true" aria-expanded="false"><fa-icon [icon]='["fas", "user"]'></fa-icon></a>
    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownUser">
        <h6 class="dropdown-header">
            <div class="dropdown-user-details">
                <div class="dropdown-user-details-name" *ngIf='user.authState === "signedIn"'>{{ user.login }}</div>
                <div class="dropdown-user-details-name" *ngIf='user.authState !== "signedIn"' i18n="@@guest">Guest</div>
            </div>
        </h6>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/auth/login" *ngIf='user.authState !== "signedIn"'><span i18n="@@signin">Connexion</span></a
        ><button class="dropdown-item" type="button" *ngIf='user.authState === "signedIn"' (click)="logout()" data-cy="logoutButton"><span i18n="@@signout">Déconnexion</span></button>
    </div>
</li>
