@if (_userService.user$ | async; as user) {
    <li
        class="nav-item dropdown dropdown-user no-caret"
        ngbDropdown
        placement="bottom-right"
        display="dynamic"
    >
        @if (user.authState === 'signedIn') {
            <a
                class="nav-link"
                id="userDropdown"
                ngbDropdownToggle
                data-cy="userMenu"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                ><fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon
            ></a>
        }
        <div
            class="dropdown-menu dropdown-menu-right"
            ngbDropdownMenu
            aria-labelledby="dropdownUser"
        >
            <span>
                @if (lightStatus !== undefined && lightStatus !== true) {
                    <a class="dropdown-item" (click)="switchLight(true)" routerLink="/dashboard"
                        ><span i18n="@@switchLightOn">Switch light on</span></a
                    >
                }</span
            ><span>
                @if (lightStatus !== undefined && lightStatus === true) {
                    <a class="dropdown-item" (click)="switchLight(false)" routerLink="/dashboard"
                        ><span i18n="@@switchLightOff">Switch light off</span></a
                    >
                }</span
            ><span>
                @if (musicStatus !== undefined && musicStatus !== true) {
                    <a class="dropdown-item" (click)="switchMusic(true)" routerLink="/dashboard"
                        ><span i18n="@@switchMusicOn">Switch music on</span></a
                    >
                }</span
            ><span>
                @if (musicStatus !== undefined && musicStatus === true) {
                    <a class="dropdown-item" (click)="switchMusic(false)" routerLink="/dashboard"
                        ><span i18n="@@switchMusicOff">Switch music off</span></a
                    >
                }</span
            ><span>
                @if (fanStatus !== undefined && fanStatus !== true) {
                    <a class="dropdown-item" (click)="switchFan(true)" routerLink="/dashboard"
                        ><span i18n="@@switchFanOn">Switch fan on</span></a
                    >
                }</span
            ><span>
                @if (fanStatus !== undefined && fanStatus === true) {
                    <a class="dropdown-item" (click)="switchFan(false)" routerLink="/dashboard"
                        ><span i18n="@@switchFanOff">Switch fan off</span></a
                    >
                }
            </span>
        </div>
    </li>
}
