<sb-layout-dashboard
    ><sb-dashboard-head title="Energy" i18n-title="@@energy" [hideBreadcrumbs]="true"></sb-dashboard-head
    ><sb-card
        ><div class="card-body"><span i18n="@@energyInfo">This board allows you to configure the energy saving parameters.</span></div></sb-card
    ><sb-card
        ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "car-battery"]'></fa-icon><span i18n="@@calendarParameters">Calendar parameters</span></div>
        <div class="card-body">
            Number of days before and after winter solstice for eco-mode : 25 days (from 25th of November to 16st of January)
            <br />
            Number of days before and after summer solstice for summer-mode : 110 days (from 1st of March to 10th of October)
            <br />
            Validate
        </div></sb-card
    >
    <div class="row">
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "car-battery"]'></fa-icon>Eco mode</div>
                <div class="card-body">The computer is not accessible (no wifi).</div></sb-card
            >
        </div>
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "car-battery"]'></fa-icon>Normal mode</div>
                <div class="card-body">The computer is available from the web front-end.</div></sb-card
            >
        </div>
        <div class="col-lg-6">
            <sb-card
                ><div class="card-header"><fa-icon class="mr-1" [icon]='["fas", "car-battery"]'></fa-icon>Summer mode</div>
                <div class="card-body">
                    Duration of fan at sunset : 20 minutes
                    <br />
                    Duration of music at sunset : 80 minutes
                    <br />
                    Duration of light at sunset : 60 minutes
                    <br />
                    Validate
                </div></sb-card
            >
        </div>
    </div></sb-layout-dashboard
>
